/*
/ Snippet which disables chrome standard blue outline
*/
textarea:focus, input:focus, button:focus, li:focus, a:focus, select:focus, tags-input:focus{
	outline: 0!important;
	box-shadow: none!important;
}
a{
	text-decoration: none!important;
	color: #3F51B5!important;
}
a:hover{opacity: 0.8;}

.main_scope{height: 100vh;}

.left_scope{overflow: auto;}
.left_scope-selectors{width: 100%;margin-bottom: 40px;}
.left_scope-selectors > *{margin: 0px 20px;}

/*Item*/
.element-item{
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
}
.element-item:focus{
  border: 1px solid #3F51B5;
}

.md-title{
	padding: 40px;
}


.right_scope{overflow: hidden;}
.right_scope-photo{width: 100%;}
